# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# App artifacts
*.ipa
*.dSYM.zip
*.dSYM

